<div class="wrapper wrapper-content animated fadeInRight" ng-controller="ListarInteressesController">
	<div class="row">
		<form novalidate>
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						Quem tá precisando do seu dinheiro
					</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
				
					<div>
		                <div class="feed-activity-list">
							<div ng-repeat="interesse in listaInteressados">	
		                    <div ng-if="interesse.tipoInteresse == 'RECEBER'" class="feed-element">
		                        <a ui-sref="profile" class="pull-left">
		                            <img alt="image" class="img-circle" src="resources/img/a5.jpg">
		                        </a>
		
		                        <div class="media-body ">
		                            <small class="pull-right">5m atrás</small>
		                            <strong>{{interesse.usuario.nome}}</strong> falou que tem um crédito no cartão de...<br>
									<div class="col-sm-10">
										<p class="h3"><span class="fa fa-credit-card"></span>&nbsp;&nbsp; <span> R$ {{interesse.valorDoInteresse}}</span></p>
									</div>
									<div class="col-sm-2">
										<button class="btn btn-primary pull-right" ng-click="abrirModal(interesse.usuario)">Contato</button>
									</div>
		                        </div>
		                        	
		                    </div>
		                    </div>
		                    
		                </div>
		
		            </div>
				
				
				
				
				
				</div>
			</div>
		</div>
		
		<div class="col-lg-6">
			<div class="ibox float-e-margins">
				<div class="ibox-title">
					<h5>
						Quem tem grana que pode repassar pra você
					</h5>
					<div ibox-tools></div>
				</div>
				<div class="ibox-content">
				
					<div>
		                <div class="feed-activity-list">
							<div ng-repeat="interesse in listaInteressados">
		                    <div ng-if="interesse.tipoInteresse == 'REPASSE'" >
			                    
			                    <div ng-if="interesse.link" class="feed-element">
			                        <a ui-sref="profile" class="pull-left">
			                            <img alt="image" class="img-circle" src="resources/img/a5.jpg">
			                        </a>
			
			                        <div class="media-body ">
			                            <small class="pull-right">5m atrás</small>
			                            <strong>{{interesse.usuario.nome}}</strong> disse que quer um <strong>{{interesse.nome}}</strong> <br>
			                            
			                            <span class="text-muted"> encontrado no link</span> <a href="{{interesse.link}}"> {{interesse.link}}</a><br><br>
										<p>o interesse custa <span class="h5">R$ {{interesse.valorDoInteresse}}</span>, e o que ela quer te repassar é <span class="h4"><strong>R$ {{interesse.valorDoRepasse}}</strong></span>. O resto é contigo</p>
										<div class="col-sm-12">
											<button class="btn btn-primary pull-right" ng-click="abrirModal(interesse.usuario)">Contato</button>
										</div>
			                        </div>
			                        	
			                    </div>
			
			                    <div ng-if="!interesse.link" class="feed-element">
			                        <a ui-sref="profile" class="pull-left">
			                            <img alt="image" class="img-circle" src="resources/img/a2.jpg">
			                         </a>
			
			                        <div class="media-body ">
			                            <small class="pull-right">2h atrás</small>
			                            <strong>{{interesse.usuario.nome}}</strong> disse que quer um <strong>{{interesse.nome}}</strong>
			                            <span class="text-muted">. O interesse dele não tem link mas ele informou como o negócio vai ser parcelado. Se liga...</span><br><br>
			                            
										<p>O valor da parcela é <span class="h5"><strong>R$ {{interesse.valorDaParcela}}</strong></span> e pode ser dividido em até <span class="h5"><strong>{{interesse.quantidadeDeParcelas}}x</strong></span></p>
										<p>o interesse custa no total <span class="h5">R$ {{interesse.valorDaParcela}}</span>, e o que ela quer te repassar é <span class="h4"><strong>R$ {{interesse.valorDoRepasse}}</strong></span>. Faz as contas e veja dá</p>
										<div class="col-sm-12">
											<button class="btn btn-primary pull-right" ng-click="abrirModal(interesse.usuario)">Contato</button>
										</div>
			                        </div>
			                    </div>
		                    </div>
		                    </div>
		                    
		                </div>
		
		            </div>
				
				
				
				
				
				</div>
			</div>
		</div>
		</form>
	</div>
</div>